    <footer>
        <p>
            Spread is a web application to provide up and coming 
            content creators with a way to get their videos seen by others. 
            To do this, you are asked to upload the link to a video you would like to promote. 
            This video is then sent out to other users on the site.
            Each time you watch a video, your video is shared with another user. 
            The bottom line is: the more videos you watch, the more your video is shared.</p>
        <p id="belowfoot"></p>
    </footer>
    </body>
</html>