<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/main.css">
        <nav>
            <ul>
                <a href="/"><img src="/logo_small.png" alt="Home" height="100" width="100"></a>
                <li><a href="/profile">Profile</a></li>
                <li><a id="logout" href="/home">Logout</a></li>
                <li><a href="/myspread">MySpread</a></li>
            </ul>
        </nav>
    </head>
    <body>