<% include chunks/header %>

<div class="mainbody">
    <div id="main_video_frame">
        <iframe id="primary_video" src="<%= primary_video_url %>" frameborder="0" allowfullscreen></iframe>
        <div id="category_bar"></div>
    </div>
    <div id="next_videos">
        <div id="second_video_small"></div>
        <div id="third_video_small"></div>
    </div>
</div>

<% include chunks/footer %>