<% include chunks/header %>

<div class="mainbody">
    <h1>Manage Account</h1>
    <form method="post" action="/manageaccount">
        <fieldset>
            <legend>Change Promoted Video</legend>
            <input id="" type="text" name="first_name" placeholder="First Name" required>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required>
            <input id="username" type="text" name="username" placeholder="User Name" required>
            <input id="password" type="password" name="password" placeholder="Password" required>                
            <input id="email" type="text" name="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <legend>Change Profile Picture</legend>
            <input id="" type="text" name="first_name" placeholder="First Name" required>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required>
            <input id="username" type="text" name="username" placeholder="User Name" required>
            <input id="password" type="password" name="password" placeholder="Password" required>                
            <input id="email" type="text" name="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <legend>Change Email</legend>
            <input id="email" type="text" name="email" placeholder="Email">
        </fieldset>
        <fieldset>
            <legend>Add a New Video</legend>
            <input id="" type="text" name="first_name" placeholder="First Name" required>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required>
            <input id="username" type="text" name="username" placeholder="User Name" required>
            <input id="password" type="password" name="password" placeholder="Password" required>                
            <input id="email" type="text" name="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <legend>Edit bio</legend>
            <textarea id="bio" name="bio" placeholder=<%=user.bio%></textarea>
        </fieldset>
        <fieldset>
            <legend>Change Password</legend>
            <input id="" type="text" name="first_name" placeholder="First Name" required>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required>
            <input id="username" type="text" name="username" placeholder="User Name" required>
            <input id="password" type="password" name="password" placeholder="Password" required>                
            <input id="email" type="text" name="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <label for="picture">Profile Picture</label>
            <input id="picture" type="file" name="profile_pic"/>
            <textarea id="bio" name="bio" placeholder="Please tell us a bit about you."></textarea>
        </fieldset>
        <% if (error) { %>
            <p id="error"><%= error %></p>
        <% } %>
        <div class="submit">
            <input id="register_submit" type="submit">
        </div>
    </form>
</div>

<% include chunks/footer %>