<% include chunks/header %>
<!--This section is for the promoted video, bio, and picture  -->
<div class="mainbody">
        
    <div class="picture">
        <!-- function that gets and displays the user's picture-->
        
        <!-- HTML code that displays the data from the above function -->
    </div>
    
    <div class="about_me_bio">
        <!-- function that gets and displays the user's bio-->
        
        <!-- HTML code that displays the data from the above function -->
    </div>

    <h1>New Post</h1>
        <form method="post" action="/register">
            <fieldset>
                <legend>Required Fields</legend>
                <input id="subject" type="text" name="Subject" placeholder="Subject">
                <input id="body" type="text" name="Body" placeholder="Body">                
            </fieldset>
            <% if (error) { %>
                <p id="error"><%= error %></p>
            <% } %>
            <div class="submit">
                <input id="register_submit" type="submit post">
            </div>
        </form>
    
    <div class="promoted_video">
        <!-- function that gets and displays the user's promoted video-->
        
        <!-- HTML code that displays the data from the above function -->
    </div>
    
</div>

<div class="posts">
    <!-- forms for user to fill out that make a new post -->
    
    <!-- function that gets and displays the user's posts -->
        
    <!-- HTML code that displays the data from the above function -->
</div>

<% include chunks/footer %>