<% include chunks/header %>
<!--This section is for the promoted video, bio, and picture  -->
<div>
    
    <div class="promoted_video">
        <!-- function that gets and displays the user's promoted video-->
        
        <!-- HTML code that displays the data from the above function -->
    </div>
    
    <div class="about_me_bio">
        <!-- function that gets and displays the user's bio-->
        
        <!-- HTML code that displays the data from the above function -->
    </div>
    
    <div class="picture">
        <!-- function that gets and displays the user's picture-->
        
        <!-- HTML code that displays the data from the above function -->
    </div>
    
</div>

<div class="posts">
    <!-- function that gets and displays the user's posts-->
        
    <!-- HTML code that displays the data from the above function -->
</div>

<% include chunks/footer %>