<% include chunks/header %>
<!--This section is for the promoted video, bio, and picture  -->
<div>
    
    <div class="promoted_video">
        
    </div>
    
    <div class="about_me_bio">
    
    </div>
    
    <div class="picture">
        
    </div>
    
</div>



<div class="posts">
    
</div>

<% include chunks/footer %>