<% include chunks/header %>

<div class="mainbody">
    <h1>Account Registration</h1>
    <form method="post" action="/register">
        <fieldset>
            <legend>Required Fields</legend>
            <input id="first_name" type="text" name="first_name" placeholder="First Name" required>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required>
            <input id="username" type="text" name="username" placeholder="User Name" required>
            <input id="password" type="password" name="password" placeholder="Password" required>                
            <input id="email" type="email" name="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <label for="picture">Profile Picture</label>
            <input id="picture" type="file" name="profile_pic"/>
            <textarea id="bio" name="bio" placeholder="Please tell us a bit about you."></textarea>
        </fieldset>
        <% if (error) { %>
            <p id="error"><%= error %></p>
        <% } %>
        <div class="submit">
            <input id="register_submit" type="submit">
        </div>
    </form>
</div>

<% include chunks/footer %>