<% include chunks/header_standard %>

<!-- forms for registration: *username, *password, *email, first-name, last_name,  -->
<form method="post" action="/registration">
    <legend>Register an Account</legend>
        <fieldset>
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="text" name="username" placeholder="User Name" required>
            <input type="text" name="password" placeholder="Password" required>                
            <input type="text" name="email" placeholder="Email" required>
            <input type="text" name="promoted_video_url" placeholder="Promoted Video URL">
            <input type="file" name="profile_pic">
            <input type="text" name="bio" placeholder="Bio">
            <input type="submit">
        </fieldset>
</form>

<% include chunks/footer %>