/* Reset */
p,h1,h2,ul,a, body {
    margin: 0;
    padding: 0;
    padding-left: 0;
    /*color inherited from the parent instead of the default*/
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}



/* Small screen changes*/

/*Header Stuff-Small*/
.headrow {
    background-color: rgb(25,25,25);
    overflow: auto;
}

#logohome {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.logo {
    float:left;
}

.searchbox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background-color: rgb(100,100,100);
}

nav {
    float: right;
    clear: none;
}

nav ul {
    margin-top: 35px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding-right: 10px;
    color: rgb(225,225,225);
}

a {
    text-decoration: none;
}

/*Body Stuff-Small*/

.mainbody {
    float: none;
    clear: both;
}

body {
    background-color: rgb(250,250,250);
}

h1 {
    margin: 20px;
    text-align: center;
}

fieldset {
    border: 1px solid;
    margin-bottom: 7px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#error {
    text-align: center;
    color: rgb(250,0,0);
}

fieldset * {
    margin-bottom: 10px;
}

.submit {
    text-align: center; 
}


#name {
    font-size: large;
}

#picture {
    text-align: center;
}

#bio {
    text-align: center;
}

#promoted_video_frame {
    text-align: center;
    size: 100%;
}

th, td {
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 185, 0);
}

#post_table {
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

/*manage account -------------------------------------------*/

.manageaccount_submit {
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

#manacc_submit{
    width: 25%;
}
/*----------------------------------------------------------*/

/* profile stuff-------------------------------------------*/
#profile{
    text-align: center;
    width:100%;
}

#posts {
    width: 100%;
}

#post_table{
    width: 100%;
}
/*----------------------------------------------------------*/
/*Video Stuff - Small*/
#main_video_frame {
    margin-top: 5%;
    text-align: center;
    display: block;
}

#primary_video {
    height: 169px;
    width: 300px;
}

#next_videos {
    display: table;
    margin: 0 auto;
}

#second_video_small, #third_video_small {
    background-color: rgb(250,0,0);
    margin: 10px;
    height: 76px;
    width: 135px;
    float: left;
}

#like_etc_options {
    margin: 10px;
}

#like {
    background: url("/like.png") no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    color: transparent;
}

#unlike {
    background: url("/unlike.png") no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    color: transparent;
}

#favorite {
    background: url("/favorite.png") no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    color: transparent;
}


#category_bar {}


/* inbox small screen ---------------------------------------*/
#chat {
    clear: both;
    border: double;
    text-align: center;
    font-size: small;
    
}
#messages {
    padding: 0%;
    background-color: rgba(255,165,0,.75);
    
}

#messagebox {
    padding-left: 24%;
    padding-right: 24%;
    border: double;
}

#sendmessage {
    clear: both;
    border: none;
    background-color: rgb(100,100,100);
}

#reply_form {
    margin: 0;
    padding: 0%;
    width: 100%;
    border: none;
    
}

#recipient, #subject, #body, {
    margin: 0%;
    border: none;
    padding: 0%;
    clear: left;
    float: left;
}
#sendform {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}
#submit_message {
    float: inherit;
}
/* --------------------------------------------------------*/

/*Footer - Small*/
footer {
    color: rgb(225,225,225);
    background-color: rgb(25,25,25);
    margin-top: 7%;
    clear: both;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}







/* Medium screen changes --------------------------------------------*/
@media screen and (min-width: 480px) {
    /*Header Stuff - Medium*/
    

    /*Body Stuff - Medium*/
    /*Video Stuff-Medium*/
    #primary_video, #promoted_video{
        height: 315px;
        width: 560px;
    }
    
    #second_video_small, #third_video_small {
        height: 149px;
        width: 265px;
    }


    /* profile stuff-------------------------------------------*/
    #profile{
        text-align: center;
        width:100%;
    }
    
    #posts {
        width: 100%;
    }
    
    #new_post{
        width: 50%;
        padding: 0%;
    }
    
    #post_subject,#post_body,#submit,#post_submit{
        float: left;
    }
    
    #post_table{
        width: 100%;
    }
    /*----------------------------------------------------------*/
    /* inbox small screen ---------------------------------------*/
    #chat {
        clear: both;
        border: double;
        text-align: center;
        font-size: small;
        
    }
    #messages {
        padding: 0%;
        background-color: rgba(255,165,0,.75);
        
    }
    
    #messagebox {
        padding-left: 24%;
        padding-right: 24%;
        border: double;
    }
    
    #sendmessage {
        clear: both;
        border: none;
        background-color: rgb(100,100,100);
    }
    
    #reply_form {
        margin: 0;
        padding: 0%;
        width: 100%;
        border: none;
        
    }
    
    #recipient, #subject,  {
        margin: 0%;
        border: none;
        padding: 0%;
        float: left;
    }
    #body{
        float: none;
    }
    #sendform {
        width: 100%;
        padding:0%;
    }
    #submit_message {
        float: inherit;
    }
    /* --------------------------------------------------------*/
    /*manage account -------------------------------------------*/
    #manacc_submit {
        text-align: center;
        padding: 1%;
    }
    /*----------------------------------------------------------*/
    
    
    
    /*Footer-Medium*/

}







/* Large screen changes ------------------------------------------------*/
@media screen and (min-width: 800px) {
    /*Header Stuff - Large*/
    #logohome {
        width: 75px;
        height: 75px;
    }

    /*Body Stuff - Large*/
    /*Video Specific - Large*/
    #primary_video,#promoted_video {
        height: 360px;
        width: 640px;
    }
    #second_video_small, #third_video_small {
        height: 172px;
        width: 305px;
    }
    
    /*Footer - Large*/
    
}

